<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.handle_excel.mapper.TeacherMapper">
    <select id="getAllTeachers" resultType="org.example.handle_excel.bean.Teacher">
        SELECT TrNum, TrFirstName,TrName FROM teacher
    </select>
</mapper>